/*
 * Custom CSS for CS33
 */

:root {
  --heading-text-color: #240f02;
  --body-text-color: #2a1a03;
  --light-tan-bg: #d7bc72;
  --lighter-tan-bg: #f0dca3;
  --green-bg: #cad9c9;
  --light-green-bg: #9bb899;

  --camo-brown: #837957;
  --camo-gray: rgb(204 204 204);

  --comic-red: #cc605f;
}

@font-face {
  font-family: TWDHeaderFont;
  src: url("../img/dafont/DeadFontWalking.otf");
}

@font-face {
  font-family: TWDTitleFont;
  src: url("../img/dafont/DeadKansas.ttf");
}

@font-face {
  font-family: ComicText;
  src: url("../img/dafont/adamwarrenpro.ttf");
}

@font-face {
  font-family: ComicTextBold;
  src: url("../img/dafont/adamwarrenpro-bold.ttf");
}

* {
  color: var(--body-text-color);
}

body {
  width: 100%;
  font-family: "Montserrat", Arial, serif;
  /* font-family: ComicText; */
  background-color: var(--green-bg);
}

html {
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 35px 0;
  /*text-transform: uppercase;*/
  /*font-family: "Verdana", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  text-shadow: 2px 2px 0 #adadad;
  font-family: TWDTitleFont;
  font-weight: 400;
  letter-spacing: 4px;
}

h3 {
  color: #282512;
  text-shadow: 1px 2px 0px rgb(64 92 73 / 70%);
}

p {
  margin: 0 0 25px;
  font-size: 15px;
  line-height: 1.5;
}

@media(min-width:768px) {
  p {
    margin: 0 0 35px;
    font-size: 17px;
    line-height: 1.6;
  }
}

blockquote, tagline {
  font-family: ComicText;
  font-size: 1.1em;
  line-height: 1.8em;
  /* font-style: italic; */
}

a:hover,
a:focus {
  text-decoration: none;
}

ul {
  font-size: 1.12em;
  padding-left: 1.5em;
  line-height: 2.1;
}

/* Tables */
table {

  background-color: var(--light-green-bg);
  font-size: 1.1em;
  margin-bottom: 40px;
}

tr:nth-child(2n+1) {
  background-color: var(--lighter-tan-bg);
}

th {
  height: 3.0em;
  background-color: var(--comic-red);
  font-family: ComicTextBold;
  font-size: 1.1em;

}

td, th {
  padding: 8px 20px 8px 20px;
  text-align: center;
}

/* Responsiveness in tables */
@media only screen and (max-width: 990px), (min-device-width: 768px) and (max-device-width: 1024px) {

  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr, tr th {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr:nth-child(n+2) {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  /* For tables that have assignments (projects & labs) */
  table.assignment td:nth-of-type(1):before {
    content: "Assignment";
  }

  table.assignment td:nth-of-type(2):before {
    content: "Out";
  }

  table.assignment td:nth-of-type(3):before {
    content: "Due";
  }

  /* Lectures table */
  table.lecture td:nth-of-type(1):before {
    content: "Lecture #";
  }

  table.lecture td:nth-of-type(2):before {
    content: "Date";
  }

  table.lecture td:nth-of-type(3):before {
    content: "Topic";
  }

  table.lecture td:nth-of-type(4):before {
    content: "Readings";
  }

  table.lecture td:nth-of-type(5):before {
    content: "Lecture (.pdf)";
  }

  table.lecture td:nth-of-type(6):before {
    content: "Recording (.mp4)";
  }

  table.lecture td:nth-of-type(7):before {
    content: "Take Away Questions";
  }

  /* For the Tom's office hours table */
  table.tom-hours td:nth-of-type(1):before {
    content: "Day";
  }

  table.tom-hours td:nth-of-type(2):before {
    content: "Time";
  }

  /* For the lab hours table */
  table.lab-hours td:nth-of-type(1):before {
    content: "Time";
  }

  table.lab-hours td:nth-of-type(2):before {
    content: "Location";
  }

  table.lab-hours td:nth-of-type(3):before {
    content: "TAs";
  }

  /* For the ta hours table */
  table.ta-hours td:nth-of-type(1):before {
    content: "Time";
  }

  table.ta-hours td:nth-of-type(2):before {
    content: "Sunday";
  }

  table.ta-hours td:nth-of-type(3):before {
    content: "Monday";
  }

  table.ta-hours td:nth-of-type(4):before {
    content: "Tuesday";
  }

  table.ta-hours td:nth-of-type(5):before {
    content: "Wednesday";
  }

  table.ta-hours td:nth-of-type(6):before {
    content: "Thursday";
  }

  table.ta-hours td:nth-of-type(7):before {
    content: "Friday";
  }

  table.ta-hours td:nth-of-type(8):before {
    content: "Saturday";
  }

  /* Gear up table */
  table.gear-up td:nth-of-type(1):before {
    content: "Date";
  }

  table.gear-up td:nth-of-type(2):before {
    content: "Topic";
  }

  table.gear-up td:nth-of-type(3):before {
    content: "Slides";
  }

  /* Makes sure empty cells won't have labels */
  table td:empty {
    display: none;
  }
}

@font-face {
  font-family: SchoolBus;
  src: url('../img/font-awesome/fonts/happy_food/Happy\ Food.otf') format('opentype');
}

/* Alternate background colors (and adjust text colors to compensate) */
.section-header {
  background-color: var(--green-bg);
  height: 50px;
}

.info-box-opaque {
  background-color: rgba(245, 245, 245, 0.97);
  display: flex;
  justify-content: center;
  border-radius: 5px;
  padding: 30px;

}

#course-info {
  background-color: var(--green-bg);
}

#course-info h3 {
  color: #2a2824;
  text-shadow: 1px 2px 0px rgb(167 139 36 / 70%);
}

#course-info p,
#course-info li {
  color: var(--body-text-color);
}

#course-info blockquote {
  border-left: 5px solid #bbb !important;
  color: #403e36;
}

#course-info tagline {
  color: #403e36;
}

#course-info a {
  color: var(--body-text-color);
}

#assignments {
  background-color: var(--green-bg);
}

#assignments a {
  color: var(--body-text-color);
  border-radius: 5px;
  font-weight: bold;
  /* background-color: rgb(233 233 233 / 50%); */
  /* padding: 0px 4px; */
}

#assignments a:hover {
  color: #69605a;
}

#lectures {
  background-color: var(--green-bg);
}

#lectures a {
  color: var(--body-text-color);
  border-radius: 5px;
  font-weight: bold;
  /* background-color: rgb(233 233 233 / 50%); */
  /* padding: 0px 4px; */
}

#lectures a:hover {
  color: #69605a;
}

#hours {
  background-color: var(--green-bg);
}

#hours a {
  color: var(--body-text-color);
  border-radius: 5px;
  font-weight: bold;
}

#hours a:hover {
  color: #69605a;
}

#staff {
  margin-top: -30px;
  background-color: var(--camo-gray);
  width: 100%;
  align-items: center;
}

#staff h4 {
  color: #111;
  color: #fff;
  font-family: "Montserrat", serif;
  letter-spacing: 1px;
}

#staff p {
  font-family: "Montserrat", serif;
}

.intro-img {
  max-width: 100%;
  max-height: 100%;
}

/* Custom section types */
.content-section:before {
  background-color: #323c18;
  height: 35px;
  width: 100%;
  left: 0;
  position: absolute;
  margin-top: -60px !important;
  margin-bottom: 30px;
  display: block;
}

.content-section {
  padding-top: 30px;
  padding-bottom: 30px;
}

.inset-box {
  border-radius: 5px;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.15);
  padding: 10px 10px 10px;
  margin-top: 20px;
  margin-bottom: 40px;
  background-color: #111;
  background-color: rgba(210, 18, 66, 0.06);
}

.section-title {
  font-family: TWDTitleFont;
  color: var(--heading-text-color);
  text-shadow: 2px 2px 0 #adadad;
  /* -webkit-text-stroke: 1px var(--body-text-color)7E; */
  font-size: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.section-title-img {
  padding-left: 20px;
  width: 100px;
  object-fit: contain;
}

.large-img {
  width: 140px;
  padding-top: 50px;
}

.small-img {
  height: 80px;
  width: auto;
}

@media(min-width:768px) {
  .content-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .inset-box {
    padding: 40px 40px 40px;
    margin-top: 40px;
    margin-bottom: 0;
  }

  .content-section:before {
    margin-top: -60px;
    margin-bottom: 40px;
  }
}

footer {
  padding: 30px 0;
}

footer p {
  margin: 0;
  font-size: 0.9em;
}

footer a {
  color: var(--body-text-color);
}

.spacing {
  width: 20px;
  display: inline-block;
}

.ta {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  width: 200px;
  vertical-align: top;
}

.ta p {
  text-align: center;
  margin-top: 3px;
  margin-bottom: 10px;

}

.ta div {
  background-size: 200px 200px;
  border-radius: 7px;
  width: 200px;
  height: 135px;
  margin-top: 20px;
  margin-bottom: 10px;
}


/* Navbar */

.navbar-custom {
  margin-bottom: 0;
  font-size: 0.9em;
  border-bottom: 1px solid rgba(255, 255, 255, .3);
  font-family: Montserrat, Geneva, sans-serif;
  text-transform: capitalize;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.navbar-custom .nav li a {
  -o-transition: background .3s ease-in-out;
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
  color: #222e23;
  font-family: ComicTextBold;
  font-size: 1.6rem;
}

.navbar-custom .nav li a:hover {
  color: #5a5c5a;
  background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
  background-color: transparent;
}

.navbar-custom .nav li.active a {
  background-color: rgb(155 184 153 / 50%);
}

.navbar-custom .nav li.active a:hover {
  color: #5a5c5a;
}

/* .brand-heading {
  padding-top:20px;
} */


@media(min-width:768px) {
  .navbar-custom {
    padding: 8px 0;
    border-bottom: 0;
    letter-spacing: 1px;
    -o-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
  }

  .top-nav-collapse {
    padding: 0;
    background-color: var(--lighter-tan-bg);
    color: white;
  }
}

.hamburger-icon {
  color: #323c18

}

@media(max-width:768px) {
  .navbar-custom {
    height: 75px;
    -o-transition: background .2s ease-in-out, padding .2s ease-in-out;
    -webkit-transition: background .2s ease-in-out, padding .2s ease-in-out;
    -moz-transition: background .2s ease-in-out, padding .2s ease-in-out;
    transition: background .2s ease-in-out, padding .2s ease-in-out;
    display: flex: align-items: center;
  }

  .section-title {
    padding-top: 8px;
    padding-bottom: 15px;
    font-size: 30px;
  }

  .brand-heading {
    margin-top: 25px;
    padding-bottom: 8px;
  }

  .top-nav-collapse {
    padding: 0;
    background-color: var(--lighter-tan-bg);
  }

  .navbar-toggle {
    margin-top: 55px !important;
    color: var(--light-green-bg)
  }


  .navbar-custom .nav li a {
    font-size: 1.2rem;
  }

  .navbar-collapse {
    margin-top: 100px;
    background-color: var(--lighter-tan-bg);
    color: var(--body-text-color);
  }

  .section-title-img {
    width: 60px;
  }

  .large-img {
    width: 100px;
    padding-top: 20px;
  }

  h3 {
    padding-bottom: 15px;
  }
}

#docs-and-guides {
  background-image: url('../img/twdbg.jpg');
  background-size: 600px;
}

#docs-and-guides a {
  color: var(--body-text-color);
  border-radius: 5px;
  text-decoration: underline;
}

.resources-header {
  font-family: ComicTextBold;
  font-size: 1.8rem;
  /* margin-left: -2rem; */
}

footer {
  width: 100%;
}

.intro {
  display: table;
  width: 100%;
  height: 100vh;
  text-align: center;
  color: #D21242;
  background: no-repeat top center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.intro .intro-body {
  display: table-cell;
  vertical-align: middle;
  /* padding-bottom: 20px; */
  padding-top: 50px;
  /* background-color: #c0e6b6; */

  background-color: var(--green-bg);
}

.intro .brand-heading {
  font-size: 50px;
  /* color: #ffffff; */
  color: var(--heading-text-color);

}

.intro-body {
  font-size: 17px;
  color: var(--heading-text-color)
}


@media(max-width:768px) {
  html, body {
    width: 100%;
    overflow-x: hidden;
    background-color: var(--green-bg);
  }

  .intro {
    background: white;
    margin-top: 50px
  }

  .intro-text {
    margin-top: 70px;
    font-size: 16px !important;
    color: #000000 !important;
    text-shadow: none !important;
    letter-spacing: -0.02em;

  }

  .iframe {
    width: 350px;
  }

  .intro .intro-body .brand-heading {
    margin-top: 60px;
    font-size: 4.2rem;
    letter-spacing: 1px;
  }

  .white-button {
    border: 1px solid #000;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 15px 0;
  }

  #staff h4 {
    margin: 15px;
  }

  .intro-image {
    max-height: 50px !important;
  }
}

@media(min-width:768px) {
  .intro {
    height: 100vh;
    padding: 0;
  }

  .intro .intro-body .brand-heading {
    font-size: 5.5rem;
    letter-spacing: 1px;
  }

  .intro .intro-body .intro-text {
    font-size: 20px;
    letter-spacing: -0.02em;
  }
}

/*.btn-square {
    font-family: Montserrat, Geneva, Arial,  sans-serif !important;
    width: 300px;
    height: 50px;
    margin-top: 15px;
    padding: 15px 20px;
    font-size: 30px;
    font-weight: 700 !important;
    color: #fff;
    background: 0 0;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}*/

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}

/*.btn {
    border-radius: 0;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
}

.btn-default {
    border: 1px solid #42dca3;
    color: #42dca3;
    background-color: transparent;
}
*/
::-moz-selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, .2);
}

::selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, .2);
}

img::selection {
  background: 0 0;
}

img::-moz-selection {
  background: 0 0;
}

body {
  webkit-tap-highlight-color: rgba(255, 255, 255, .2);
}

.note {
  font-size: 10pt;
}

.light-blue-button {
  background-color: #407ab1;
  color: white;
  font-size: 0.85em;
}

.light-blue-button:hover {
  background-color: #366a9b;
  color: white !important;
}

.white-button {
  background-color: #ffffff;
  font-size: 0.85em;
  color: var(--body-text-color) !important;
  opacity: 0.8;
}

.white-button:hover {
  opacity: 1;
}

.webhandout {
  width: 100vw;
  margin-top: 100px;
  text-align: center;
}

.foldable {
  outline: none;
  border: none;
  width: 90vw;
  color: var(--body-text-color);
  text-align: left;
  margin: 10px 20px;
  border-radius: 5px;
}

.course-logo-font, .course-logo-font:hover, .course-logo-font:focus {
  font-family: TWDHeaderFont;
  font-size: 35px;
  color: var(--heading-text-color);
  text-shadow: 2px 2px 0 #837957;
  /* text-shadow: 2px 2px 0 var(--body-text-color)7E; */
  /* -webkit-text-stroke: 1px var(--body-text-color)7E; */
  padding-top: 2rem;
  padding-bottom: 4rem;
  padding-left: 3%;
  /* line-height: 0.8em; */
  width: 700px;
}

.staff-flexbox {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: flex-start;
  flex-wrap: wrap;

  margin: auto;
  padding: 0;
}


.ta-member {
  margin: 2%;
  display: block;
  justify-content: center;
  align-items: center;
  width: 28%;
}

.ta-img {
  justify-content: center;
  align-items: center;
}

.ta-img img {
  width: 200px;
  height: 200px;
  box-shadow: 5px 5px 0px rgb(74 100 61 / 70%)
}

.ta-profile {
  justify-content: center;
  margin: auto;
  border-radius: 5px;
  width: 90%;

  max-height: 280px;
  object-fit: cover;
  display: block;

}

.ta-item {
  justify-content: center;
  margin: auto;
  border-radius: 5px;
  width: 90%;

  object-fit: cover;
  display: none;

}

.ta-img:hover .ta-profile {
  display: none;
}

.ta-img:hover .ta-item {
  display: block;
}

.ta-name {
  text-align: center;
  overflow: hidden;
  font-size: 22px;
  margin-bottom: 10px;
  text-shadow: none;
  /* -webkit-text-stroke: 1px var(--body-text-color)7E; */
  /* color: var(--body-text-color)7E; */
}

.ta-login {
  text-align: center;
  margin-bottom: 0px;
  color: #000000;
}

.ta-pronouns {
  text-align: center;
  margin-bottom: 15px;
  color: #000000;
}

.ta-bio {
  text-align: center;
  color: #000000;
}

@media screen and (max-width:768px) {
  .ta-member {
    width: 70%;
  }
}

.prof-text {
  text-align: center;
}

#home-img {
  height: 68vh;
  padding: 30px 0px;
}

@media (max-width:768px) {
  .mail-list-text {
    display: none;
  }

  #home-img {
    height: 50vh;
  }
}

.img-row {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  /* border-bottom: #2a1a03 solid 1px; */
}